h1,
h2,
h3,
h4,
h5,
h6,
button,
li,
ul,
input,
body {
  border: none;
  padding: 0;
  margin: 0;
  list-style-type: none;
}
button:focus,
input:focus,
select:focus {
  outline: none;
}
.main-section{
	position: relative;
	max-width: 1920px;
	overflow: hidden;
	margin: 0 auto;
	background: url(../image/Layer%203%20copy%204.png) center no-repeat;
	background-color: #0a060c;
}

.main-contant{
	max-width: 1920px;
	height: 1080px;
	margin: 0 auto;
	background: url(../image/Layer%204.png) center;
}
button{
  
	height: 38px;
	width: 526px;
	color: #fff;
    margin-left: -10px;
    -webkit-transform: skew(-21deg);
    -moz-transform: skew(20deg);
    -o-transform: skew(20deg);
	text-transform: uppercase;
	line-height: 38px;
	text-align: center;
	font-size: 21px;
	margin-top: 21px;
	background: -moz-linear-gradient(left, rgba(63,23,104,1) 0%, rgba(90,45,144,1) 33%, rgba(129,76,202,1) 71%, rgba(158,100,245,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, rgba(63,23,104,1) 0%,rgba(90,45,144,1) 33%,rgba(129,76,202,1) 71%,rgba(158,100,245,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, rgba(63,23,104,1) 0%,rgba(90,45,144,1) 33%,rgba(129,76,202,1) 71%,rgba(158,100,245,1) 100%);
}

.container-text{
   width: 700px;
   text-align: center;
   margin: 0 auto;
}
hgroup{
	color: #fff;
	text-transform: uppercase;
	margin-top: 20px;
}
hgroup h1{
	font-size: 25px;
}
hgroup span{
	font-size: 40px;
}
.container-text ul{
	color: #fff;
	font-size: 18px;
	margin-top: 50px;
	text-transform: uppercase;
}
.container-text ul li{
	margin-bottom: 6px;
}
.container-text ul li:nth-child(3){
	font-size: 20px;
	margin-top: 30px;
}
.container-text ul li:last-child{
	font-size: 20px;
}
.img{
	margin: 50px auto;
    margin-left: 105px;
}
 .img img { 
	 position: relative;
	 z-index: 3;
	 -webkit-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;
}
 .tiket {
	 left: -45px; top: 0px;
}
 .plain {
	 left: -90px; top: 0px;
}
.tiket:hover,  .plain:hover, .aero:hover {
	-webkit-transform: scale(1.1);
	-moz-transform: scale(1.1);
	-o-transform: scale(1.1);
	transform: scale(1.1);
}
.container-text__text{
	position: relative;
	color: #fff;
	font-size: 28px;
	margin-top: 60px;
}
.container-text__text:after{
	background: url(../image/move.png);
	width: 59px;
	height: 59px;
    right: 84px;
    top: -7px;
	position: absolute;
	content: "";
	
}
.container-img{
	position: relative;
	max-width: 1170px;
	margin: 0 auto;
}
.triangl-sectio-left{
	position: absolute;
	bottom: 0;
	left: -374px;;
	background: url(../image/Shape%201%20copy%205.png) no-repeat;
	width: 1223px;
	height: 625px;
}
.triangl-sectio-left__text{
	position: relative;
    color: #fff;
    font-size: 18px;
    width: 70%;
    text-align: right;
    margin-top: 451px;
	text-transform: uppercase;
}
.triangl-sectio-left__text span, .triangl-sectio-right__text span{
	font-size: 30px;
}
.triangl-sectio-left__text:after{
    position: absolute;
    content: "";
    background: url(../image/arrow%20copy.png);
	transform: rotate(180deg);
    width: 94px;
    height: 134px;
    left: 350px;
    top: -21px;
}
.triangl-sectio-right__text{
    position: relative;
    color: #fff;
    font-size: 18px;
    width: 65%;
    float: right;
    text-align: left;
    margin-top: 445px;
    text-transform: uppercase;
}
.triangl-sectio-right{
     position: absolute;
	 bottom: 0;
	 right: -374px;
	 background: url(../image/Shape%201%20copy%204.png) no-repeat;
	 width: 1224px;
	 height: 631px;
}
.triangl-sectio-right__text:after{
    position: absolute;
    content: "";
    background: url(../image/arrow%20copy.png);
    width: 94px;
    height: 134px;
    left: 385px;
    top: -22px;
}

/*media*/
@media (min-width: 992px) and (max-width: 1199px){
	.container-img {
    max-width: 970px;
}
    .triangl-sectio-right {
    right: -476px;
}
	.triangl-sectio-left {
    left: -476px;
}
  .triangl-sectio-right__text {
    font-size: 13px;
    width: 69%;
    margin-top: 454px;
}   
	.triangl-sectio-left__text span, .triangl-sectio-right__text span {
    font-size: 26px;
}
	.triangl-sectio-left__text {
    font-size: 15px;
}
	.triangl-sectio-left__text:after, .triangl-sectio-right__text:after {
      display: none;
}
}
@media (min-width: 768px) and (max-width: 991px){
	.container-img {
    max-width: 762px;
}
   	.triangl-sectio-left__text:after, .triangl-sectio-right__text:after {
      display: none;
}
   .triangl-sectio-right {
        right: -583px;
}
	.triangl-sectio-left {
    left: -583px;
}
	.triangl-sectio-left__text {
    font-size: 16px;
    width: 80%;
    z-index: 3;
}
	.triangl-sectio-right__text {
    font-size: 16px;
    width: 73%;
}
	.triangl-sectio-left__text span, .triangl-sectio-right__text span {
    font-size: 25px;
}
	hgroup {
    margin-top: 57px;
}
}
@media (min-width: 481px) and (max-width: 767px) {
  button {
    width: 383px;
    margin-left: -14px;
    font-size: 15px; 
}
  .container-text {
    width: 400px;
}
	.img {
    margin: 50px auto;
}
	.img img {
    width: 120px;
}
   .plain {
    left: -42px;
}
	.tiket {
    left: -21px;
}
	.container-text ul {
    font-size: 14px;
}
	hgroup {
    margin-top: 33px;
}
	hgroup h1 {
    font-size: 20px;
}
	.container-text__text:after {
     display: none;
}
	.img {
    margin: 40px auto;
    margin-left: 14px;
}
	.triangl-sectio-right {
    right: -726px;
}
	.triangl-sectio-left {
    left: -725px;
}
	.container-img {
    max-width: 472px;
}
	.triangl-sectio-right__text {
      font-size: 14px;
      width: 450px;
      float: none;
      margin-left: 53px;
      margin-top: 293px;
}
	.triangl-sectio-right__text:after {
        display: none;
}
	.triangl-sectio-left__text {
     font-size: 14px;
     margin-right: 125px;
     right: 53px;
     z-index: 4;
     width: 100%;
 
}
}
@media (min-width: 320px) and (max-width: 480px){
      button {
    width: 383px;
    margin-left: -14px;
    font-size: 15px; 
}
  .container-text {
    width: 400px;
}
	.img {
    margin: 50px auto;
}
	.img img {
    width: 120px;
}
   .plain {
    left: -42px;
}
	.tiket {
    left: -21px;
}
	.container-text ul {
    font-size: 14px;
}
	hgroup {
    margin-top: 33px;
}
	hgroup h1 {
    font-size: 20px;
}
	.container-text__text:after {
     display: none;
}
	.img {
    margin: 40px auto;
    margin-left: 18px;
}
	.triangl-sectio-right {
    right: -726px;
}
	.triangl-sectio-left {
    left: -725px;
}
	.container-img {
    max-width: 472px;
}
.triangl-sectio-right__text {
      font-size: 14px;
      width: 400px;
      float: none;
      margin-left: 113px;
      margin-top: 293px;
}
	.triangl-sectio-right__text:after {
        display: none;
}
.triangl-sectio-left__text {
    font-size: 14px;
    margin-right: 125px;
    right: 111px;
    z-index: 4;
    width: 100%;
}
}